<div id="<%= dom_id order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= order.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= order.address %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= order.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Pay type:</strong>
    <%= order.pay_type %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this order", order, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this order', edit_order_path(order), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
